*{
    margin: 0;
    padding:0;
}
body{
    overflow: hidden;
    animation: shakebody linear .30s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 75vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -15px;
    background-repeat: no-repeat;
}
.track{
    height: 60vh;
    width: 1500vh;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 73vh;
    animation: carmove linear 13s infinite;
}
.car{
    height: 100px;
    width: 320px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 60vh;
    left: 350px;
    animation: shake linear .3s infinite;
}

.wheel1 img{ 
    width: 70px;
    top: 38px;
    position: relative;
    left: 40px;
    animation: wheelrot linear .6s infinite;
}
.wheel2 img{
    width: 70px;
    top: -37px;
    position: relative;
    left: 217px;
    animation: wheelrot linear .6s infinite;
}
@keyframes wheelrot{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carmove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}